<div [ngClass]="secondHeaderRoutes.includes(router.url) ? 'header-main-div': 'header-main-div'">

    <div class="h-l-div c-div">
        <button class="menu-btn" (click)="handleSidebar()">
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>

        <img class="logo" src="/assets/images/logo.png" alt="QA" />



        <div class="dashboard-header" *ngIf="secondHeaderRoutes.includes(router.url)">
            <button class="home-btn" (click)="redirects('/')">
                <span class="material-symbols-outlined">
                    home
                </span>
            </button>

            <!-- Profile Header -->
            <span class="dashboard-title" *ngIf="router.url === '/profile'">Profile</span>
            <span class="dashboard-title" *ngIf="router.url === '/author/create-question'">Create Question</span>
            <span class="dashboard-title" *ngIf="router.url === '/author/my-questions'">My Questions</span>
            <span class="dashboard-title" *ngIf="router.url === '/author/dashboard'">Dashboard</span>
            <span class="dashboard-title" *ngIf="router.url === '/author/categories'">Categories</span>
            <span class="dashboard-title" *ngIf="router.url === '/practice/questions'">Practice Session</span>
        </div>

    </div>

    <!-- medium routes: Normal View -->
    <div class="h-m-div c-div" *ngIf="!secondHeaderRoutes.includes(router.url)">
        <ul class="navs">
            <!-- <li><a class="nav-link" href="/practice/questions">Dashboard</a></li>s -->
            <!-- <li><a class="nav-link" href="/about">About</a></li>
            <li><a class="nav-link" href="/contact">Contact</a></li> -->
        </ul>
    </div>



    <div class="h-r-div c-div">
        <app-button *ngIf="!isLoggedIn" (onClick)="redirects('/login')" type="primary" color=""
            title="Login"></app-button>

        <!-- <app-button *ngIf="isLoggedIn && !secondHeaderRoutes.includes(router.url)" (onClick)="redirects('/profile')" type="primary" color="" title="Profile"></app-button> -->

        <div class="profile-div" *ngIf="isLoggedIn && !secondHeaderRoutes.includes(router.url)"
            (click)="redirects('/profile')">
            <img class="photo" [src]="profileURL" alt="profile" />
        </div>

        <app-button *ngIf="isLoggedIn && secondHeaderRoutes.includes(router.url)" (onClick)="redirects('/live')"
            type="secondary" color="warn" title="Live"></app-button>

        <app-button *ngIf="isLoggedIn && secondHeaderRoutes.includes(router.url)"
            (onClick)="redirects('/practice/questions')" type="primary" color="" title="Practice"></app-button>
    </div>
</div>