<div class="q-div">
    <div class="q-label-div">
        <label class="q">{{questionWithAnswer?.question}}</label>
    </div>
    <div class="options-label-div">
        <ng-container *ngFor="let opt of questionWithAnswer?.options">
            <div class="option" (click)="verifyAnswer(questionWithAnswer?.id, opt.key)">
                <span [ngClass]="pressedAnswerKey === opt.key && pressedAnswerKey === questionWithAnswer?.ans?.key ? 'option-letter green' : pressedAnswerKey === opt.key && pressedAnswerKey != questionWithAnswer?.ans?.key ? 'option-letter red' : 'option-letter'">{{opt.key}}</span>
                <span [ngClass]="pressedAnswerKey === opt.key && pressedAnswerKey === questionWithAnswer?.ans?.key ? 'option-desc green-lbl' : pressedAnswerKey === opt.key && pressedAnswerKey != questionWithAnswer?.ans?.key ? 'option-desc red-lbl' : 'option-desc'">{{opt.value}}</span>
            </div>
        </ng-container>
    </div>

    <div class="answer-description" *ngIf="questionWithAnswer?.ans?.key">
        <div class="option">
            <span class="option-desc">Correct Answer</span>
            <span class="option-letter green green-ans">{{questionWithAnswer?.ans?.key}}</span>
            <ng-container *ngFor="let opt of questionWithAnswer.options">
                <span class="option-desc green-lbl" *ngIf="opt.key === questionWithAnswer?.ans?.key">{{opt.value}}</span>
            </ng-container>
        </div>
        <span class="option-desc">{{questionWithAnswer?.ans?.description}}</span>
    </div>
</div>