<div class="q-div">
    <div class="q-label-div">
        <label class="q">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam natus repudiandae dolores
            veritatis numquam. Exercitationem quod deserunt a error, eos fuga ipsum perspiciatis omnis,
            obcaecati neque maxime, accusamus maiores!</label>
    </div>
    <div class="options-label-div">
        <div class="option">
            <span class="option-letter">A</span>
            <span class="option-desc">Lorem ipsum dolor.</span>
        </div>
        <div class="option">
            <span class="option-letter">B</span>
            <span class="option-desc">Lorem ipsum dolor.</span>
        </div>
        <div class="option">
            <span class="option-letter">C</span>
            <span class="option-desc">Lorem ipsum dolor.</span>
        </div>
        <div class="option">
            <span class="option-letter">D</span>
            <span class="option-desc">Lorem ipsum dolor.</span>
        </div>
    </div>
</div>