<div class="create-q-main-div">
    <mat-form-field class="input-question" appearance="outline">
        <mat-label>Question</mat-label>
        <textarea matInput placeholder="Enter Question"></textarea>
    </mat-form-field>

    <div class="option-div optionAB">
        <div class="opt optionA">
            <mat-form-field class="input-option">
                <mat-label>Option A</mat-label>
                <input matInput placeholder="Enter Question">
            </mat-form-field>
        </div>
        <div class="opt optionB">
            <mat-form-field class="input-option">
                <mat-label>Option B</mat-label>
                <input matInput placeholder="Enter Question">
            </mat-form-field>
        </div>

    </div>
    <div class="option-div optionCD">
        <div class="opt optionC">
            <mat-form-field class="input-option">
                <mat-label>Option C</mat-label>
                <input matInput placeholder="Enter Question">
            </mat-form-field>
        </div>
        <div class="opt optionD">
            <mat-form-field class="input-option">
                <mat-label>Option D</mat-label>
                <input matInput placeholder="Enter Question">
            </mat-form-field>
        </div>
    </div>
</div>