<div class="practice-div">
    <div class="practice-left-part">
        <button [ngClass]="filterToggle ? 'filter-btn active-filter-btn' : 'filter-btn'" (click)="toggleFilter()">
            <span class="material-symbols-outlined">
                filter_alt
            </span>
        </button>
        <div class="nav-items" *ngIf="filterToggle">
            <app-multiselect-chips [ngStyle]="{'width': WIN.innerWidth > 820 ? '13rem' : '90%' }"
                *ngIf="categoriesName.length > 0" [allInputData]="categoriesName"
                (selectedData)="getSelectedCategories($event)" title="Categories"
                placeholder="Select Categories"></app-multiselect-chips>

            <app-multiselect-chips [ngStyle]="{'width': WIN.innerWidth > 820 ? '13rem' : '90%' }"
                *ngIf="subCategoriesName.length > 0" [allInputData]="subCategoriesName"
                (selectedData)="getSelectedSubCategories($event)" title="Sub Categories"
                placeholder="Select Sub Categories"></app-multiselect-chips>

            <div *ngIf="categoriesName.length > 0" class="or-div"><span class="or">or</span></div>

            <app-multiselect-chips [ngStyle]="{'width': WIN.innerWidth > 820 ? '13rem' : '90%' }"
                *ngIf="countries.length > 0" [allInputData]="countries" (selectedData)="getSelectedCountires($event)"
                title="Countries" placeholder="Select Countries"></app-multiselect-chips>

            <app-multiselect-chips [ngStyle]="{'width': WIN.innerWidth > 820 ? '13rem' : '90%' }"
                *ngIf="states.length > 0" [allInputData]="states" (selectedData)="getSelectedStates($event)"
                title="States" placeholder="Select States"></app-multiselect-chips>

            <div *ngIf="countries.length > 0" class="or-div"><span class="or">or</span></div>

            <mat-form-field [ngStyle]="{'width': WIN.innerWidth > 820 ? '13rem' : '90%' }" appearance="outline">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date" (dateChange)="dateChangeHandler()">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>


        </div>
    </div>
    <div class="practice-right-part" (scroll)="handleScroll($event)">

        <div class="prp-left">
            <!-- <span *ngIf="!!!finalData.length">Use Any Filter</span> -->
            <ng-container *ngFor="let qData of finalData">
                <app-question-card [question]="qData"></app-question-card>
            </ng-container>
        </div>

        <div class="prp-right">

        </div>
    </div>
</div>