<div class="profile-div">
    <div class="profile-left-part">
        <img class="profile-pic" src="../../../../assets/images/logo.png" alt="profile-pic"/>

        <div class="logout-btn">
            <app-button type="secondary" color="red" title="Logout"></app-button>
        </div>
    </div>

    <div class="profile-right-part">
        <div class="name-div">
            <label class="name">BIKY MANDAL</label>
            <app-badge type="warn" title="Author"></app-badge>
        </div>

        <div class="desc-div">
            <label class="desc">You are an author. You can contribute to the community.</label>
        </div>

        <div class="info-div">
            <div class="email-div">
                <span class="info-lbl">Email</span>

                <div class="email-info">
                    <span class="info-value">m.biky50@gmail.com</span>
                    <app-badge type="success" title="Verified"></app-badge>
                </div>
            </div>
        </div>


        <div class="user-type-div">
            <span class="user-type">Be an Author?</span>
            <mat-slide-toggle>Slide me!</mat-slide-toggle>
        </div>
    </div>
</div>